body {
    background-color: black;
}

.container {
    align-items: center;
    margin: 50px;
}



.cuadradito {
    background-color: grey;
    margin: 4px;
    width: 100px;
    height: 90px;
    text-align: center;

}